<% include partials/header %>

<% if (typeof (searchFor) != "undefined" && searchFor != "") { %>
    <h1 class="h1">Search Results For: <%= searchFor %> </h1>

    <% if (courses.length == 0) {%>
        <div class="noResults">
            <img src="assets/noResults.gif" />
        </div>
    <% } %>

<% } %>
		
<main class="mainAllCourses">
        <% courses.forEach(course => { %>
            <% %>
            <div class="coursecard" style="--bgimg: url('<%= course.imageUrl %>');">
                <div class="coursecard__contents">
                    <div class="coursecard__title">
                        <a href="/courses/<%= course.id%>" class="coursecard__link"><%= course.title %></a>
					</div>
                    <div class="coursecard__tags-and-footer">
                        <div class="coursecard__tags">
                            <% course.tags.forEach(tag => { %>
                                <div class="coursecard__tag"><%= tag %></div>                            
                            <% }) %>                            
                        </div>
                        <div class="coursecard__footer">
                            <div class="coursecard__price">
                                $<%= course.price %>
                            </div>
                            <div class="coursecard__starrating">
                                <img src="./assets/star-filled.svg" />
                                <img src="./assets/star-filled.svg" />
                                <img src="./assets/star-filled.svg" />
                                <img src="./assets/star-filled.svg" />
                                <img src="./assets/star-empty.svg" />
                            </div>
                            <div class="coursecard__votecount">(37 votes)</div>
                        </div>

                    </div>
                </div>
            </div>
					
		<% }); %>
	
</main>
		
<% include partials/footer %>