<% include partials/header %>

    <h1 class="h1"><%= course.title %></h1>
    <div class="course__starrating">
      <img src="/assets/star-filled.svg" />
      <img src="/assets/star-filled.svg" />
      <img src="/assets/star-filled.svg" />
      <img src="/assets/star-filled.svg" />
      <img src="/assets/star-empty.svg" />
    </div>

<h3>By: <%= course.author %></h3>

    <div>
      <%= course.description %>
    </div>

<div>
<% if (course.price === 0) { %>
  Free!
<% } else { %>
  $<%= course.price %>
<% } %>

</div>
<div>Check it out <b>here</b>: <a href="<%= course.courseUrl %>" target="_blank"><%= course.courseUrl %></a></div>

<img src="<%= course.imageUrl %>" /> 
<hr class="hr"/> 

<h2>User Reviews</h2>
<Button>Add a review</Button>

<div>
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <progress id="file" max="100" value="100"> 100% </progress>
</div>

<div>
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-empty.svg" />
  <progress id="file" max="100" value="0"> 0% </progress>
</div>     

<div>
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <progress id="file" max="100" value="0"> 0% </progress>
</div>

<div>
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <progress id="file" max="100" value="0"> 0% </progress>
</div>

<div>
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <progress id="file" max="100" value="0"> 0% </progress>
</div>
  <% include partials/footer %>
    
