<% include partials/header %>

    <h1 class="h1"><%= foundCourse.title %></h1>
    <div class="course__starrating">
      <img src="/assets/star-filled.svg" />
      <img src="/assets/star-filled.svg" />
      <img src="/assets/star-filled.svg" />
      <img src="/assets/star-filled.svg" />
      <img src="/assets/star-empty.svg" />
    </div>

<h3>By: <%= foundCourse.author %></h3>

    <div>
      <%= foundCourse.description %>
    </div>

<div>
<% if (foundCourse.price === 0) { %>
  Free!
<% } else { %>
  $<%= foundCourse.price %>
<% } %>

</div>
<div>Check it out <b>here</b>: <a href="<%= foundCourse.courseUrl %>" target="_blank"><%= foundCourse.courseUrl %></a></div>

<img src="<%= foundCourse.imageUrl %>" /> 
<hr class="hr"/> 

<h2>User Reviews</h2>
<Button>Add a review</Button>

<div>
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <progress id="file" max="100" value="100"> 100% </progress>
</div>

<div>
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-empty.svg" />
  <progress id="file" max="100" value="0"> 0% </progress>
</div>     

<div>
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <progress id="file" max="100" value="0"> 0% </progress>
</div>

<div>
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <progress id="file" max="100" value="0"> 0% </progress>
</div>

<div>
  <img src="/assets/star-filled.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <img src="/assets/star-empty.svg" />
  <progress id="file" max="100" value="0"> 0% </progress>
</div>

<a href="/courses/<%= foundCourse._id %>/edit">Click here to edit</a>

  <% include partials/footer %>
    
